{% extends 'base.html.twig' %}

{% block title %}Contacts{% endblock %}

{% block css %}
	<link href="{{ asset('css/contacts.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class="text">123</div>
{% endblock %}