{% extends 'base.html.twig' %}

{% block title %}Make a lot{% endblock %}

{% block css %}
	<link href="{{ asset('css/make-lot.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
	<form action="#" method="post">
		<input class="text-input" type="text" name="Name" value="" placeholder="Lot name"/>
		{% for property in properties %}
			<input class="text-input" type="text" name="{{ property.name }}" value="" placeholder="{{ property.name }}"/>
		{% endfor %}
		<input class="text-input" type="text" name="Starting price" value="" placeholder="Starting price"/>
		<button class="submit" type="submit">Create</button>
		{% if error %}
			<div class="error">{{ error }}</div>
		{% endif %}
	</form>
{% endblock %}