{% extends 'base.html.twig' %}

{% block title %}Sign in | Sign up{% endblock %}

{% block css %}
	<link href="{{ asset('css/sign.css') }}" rel="stylesheet">
{% endblock %}

{% block page %}
<div class="wrapper">
	<div class="div-left">
		<div class="headline">
			<div class="red">A</div>uthorize
		</div>
		<div class="sign-cont">
			<input class="text-input" type="text" name="login" placeholder="Login">
			<input class="text-input" type="password" name="password" placeholder="Password">
			<input class="submit" type="submit" name="sign_in" value="Sign in">
		</div>	
	</div>
	<div class="div-right">
		<div class="headline">
			<div class="red">R</div>egister
		</div>
		<div class="sign-cont">
			<input class="text-input" type="text" name="login" placeholder="Login">
			<input class="text-input" type="password" name="password" placeholder="Password">
			<input class="text-input" type="password" name="confrim_password" placeholder="Confirm password">
			<input class="text-input" type="text" name="email" placeholder="E-mail">
			<input class="submit" type="submit" name="sign_in" value="Sign up">
		</div>
	</div>
</div>
{% endblock %}