.html, body{
	font-family: "Palatino Linotype";
	background-color: #eee;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}

@font-face {
	font-family: Alegreya;
	src: url(fonts/AlegreyaSC-Regular.ttf);
}

#header{
	background-color: white;
	padding-top: 10px;
}

#title a{
	color: #ff1111;
	font-family: Alegreya;
	text-shadow: 1px 1px 1px black;
	font-size: 70px;
}

a:hover, a:focus, a:visited{
	text-decoration: none;
}

.center-block{
	display:table;
	margin: auto;
}

#login-block{
	text-align: center;
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 5px;
}

@media (min-width: 768px) {
	#login-block{
		margin-top: 40px;
	}
}

#cont{
	width: 100%;
	padding: 0;
	margin-top: 15px;
}

@media (min-width: 1200px) {
	#srch{
		margin-right: 12%;
	}
	
	#navbar{
		margin-left: 8%;
	}
	
	#cont{
		width: 80%;
		margin: auto;
		margin-top: 15px;
	}
}

#login-block a{
	color: black;
}

#login-block a:hover{
	font-weight: bold;
}

#menu{
	background-color: #e71c1c;
	box-shadow: 2px 2px 5px black;
}

#item a{
	color: white;
	text-shadow: 1px 1px 1px black;
	line-height: 38px;
	font-size: 21px;
	text-align: center;
	padding: 0 20px 0 20px;
}

#item a:hover{
	background-color: #c70c0c;
	box-shadow: -1px -1px 2px black;
}

#a-item{
	color: white;
	text-shadow: 1px 1px 1px black;
	line-height: 38px;
	font-size: 21px;
	text-align: center;
	padding: 0 20px 0 20px;
	height: 37px;
}

#a-item:hover{
	background-color: #c70c0c;
	box-shadow: -1px -1px 2px black;
}

#a-item:focus, #a-item:active{
	background-color: #c70c0c;
}

#sch{
	border-radius: 1px;
	height: 24px;
}

.btn-sch{
	padding: 1px 6px;
}

#sch-div{
	margin-top: 7px;
	margin-bottom: 5px;
}

#toggle-btn{
	background-color: white;
	padding: 6px;
}

#left-cont{
	background-color: #fff;
	border: 1px solid #ceccbd;
	padding: 0px;
}

.content{
	background-color: white;
	background-color: #fff;
	border: 1px solid #ceccbd;
	height: 100%;
	padding: 15px;
	padding-bottom: 0px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

#sel{
	border-bottom: 1px solid #ceccbd;
	padding: 10px;
	margin-bottom: 10px;
}

#left-cont h3{
	text-align: center;
	border-bottom: 1px dashed #ceccbd;
	padding: 10px;
}

#left-cont a{
	display: block;
	padding: 1px 0 1px 35px;
	color: black;
	font-size: 17px;
	line-height: 25px;
}

#left-cont a:hover{
	background-color: #eee;
	border-bottom: 1px solid #ceccbd;
	border-top: 1px solid #ceccbd;
	margin: -1px 0 -1px 0;
	color: black;
}

#main-row{
	min-height: 490px;
}

.chk{
	border: 1px solid #aaa;
	margin-top:2px;
}

.chkl{
	margin-left: 20px;
	font-family: "Palatino Linotype";
	font-weight: normal;
}

.prop{
	margin-bottom: 5px;
	font-family: "Palatino Linotype";
}

.prpl{
	font-size: 16px;
	padding-left: 20px;
}

.footer{
	color: white;
	background-color: #777;
	border-top: 1px solid #ceccbd;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin-top: 30px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

#select-cat{
	margin: auto;
}

#select-cat a{
	padding-left: 10px;
	color: black;
}

.submit{
	font-family: "Palatino Linotype";
	font-size: 16px;
	padding: 3px 15px 3px 15px;
	border: 0px;
	color: white;
	border-radius: 2px;
	background-color: #555;
	border: 1px solid #ceccbd;
	margin-left: 20px;
	margin-bottom: 10px;
}

.submit:hover{
	cursor: pointer;
	background-color: #eee;
	border: 1px solid #555;
	color: #555;
}