#lot-cont{
	padding-bottom: 10px;
}

.h3title{
	margin-top: 0px;
}

#buy-col{
	padding: 0;
	font-size: 16px;
}

#buy-row{
	margin-top: 10px;
}

#menu-row{
	margin-top: 10px;
	border-top: 1px dashed #aaa;
}

.sep{
	border-top: 1px dashed #aaa;
}

#b{
	margin-left: 109px;
}

.submit{
	display: inline-block;
	margin-left: 3px;
}

.comments
{
	border-left: 1px dashed #ceccbd;
}

.text-input{
	display:inline-block;
	width: 75px;
	padding: 3px 5px 3px 5px;
	font-family: "Palatino Linotype";
	font-size: 16px;
	border-radius: 2px;
	border: 1px solid #AAA;
}

.txt{
	width: 250px;
	padding: 3px 5px 3px 5px;
	font-family: "Palatino Linotype";
	font-size: 16px;
	border-radius: 2px;
	border: 1px solid #AAA;
}

.sbm{
	margin-left:0px;
	margin-top: 5px;
}