.content_title
{
	font-family:'Palatino Linotype';
	font-size: 20px;
	line-height: 30px;
	margin: 0 0 15px 15px;
}
.avatar
{
	margin: 15px;
	position: relative;
	float: left;
}
.avatar img
{
	height: 150px;
	width: 150px;
}
ul
{
	margin: 0;
	list-style: none;
	
}
li {
	display: inline;
}
.profile_info{
	display: block;
	margin: 30px 0 15px 200px;
}


