.text-input{
	display:block;
	width: 250px;
	padding: 4px;
	font-family: "Palatino Linotype";
	font-size: 16px;
	border-radius: 2px;
	border: 1px solid #AAA;
	margin-bottom: 8px;
}


.sign-cont{
	display: block;
	width: 260px;
	margin: 0 auto;
}

.headline{
	font-size: 25px;
	padding: 5px 0 10px 0;
	text-align: center;
}
.wrapper{
	display: -webkit-flex;    
	display: flex;  
	margin: auto;
	min-width: 450px;
	width: 30%;
	min-height: 490px;
	padding: 20px 0 20px 0;
	flex-wrap: wrap;
}

.div-left{
	padding: 20px;
	background-color: #fff;
	width: 100%;
	border: 1px solid #ceccbd;
	
}

.div-right{
	padding: 20px;
	background-color: #fff;
	width: 100%;
	border: 1px solid #ceccbd;
}

ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li{
	font-family: "Palatino Linotype";
}

textarea{
	width: 254px;
	height: 150px;
	resize: none;
	border-radius: 3px;
}

